body {
	background-color: #EED3E2;
	font-family:'Poppins', sans-serif;
	color: #1D6745;
}

img {
	width: 100%;
}

h2 {
	font-size: 36px;
	font-weight: 600;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 40px 40px 0px 40px;
}

.nav {
	text-align: right;
}
#nametag {
	height: 70px;
	width: auto;
}
nav a {
	font-family: 'Poppins';
	font-size: 24px;
	color: #1D6745;
	text-decoration: none;
	padding: 20px;
	margin-bottom: 20px;
}

nav a:hover{
	font-style: italic;
}
/* Dropdown Button */
.dropbtn {
	background: none;
  color: #1D6745;
  padding: 20px;
  font-size: 24px;
	font-family: 'Poppins';
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
	font-size: 16px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #1D6745;
	font-size: 12px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover
.dropdown-content a:hover {background-color: #ddd;}*/

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {font-style: italic;}

.frontpage-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
	width: 90%;
	margin: auto;
	padding: 50px;
}
/* .frontpage-grid img{
	min-width: 500px;
	height: auto;
} */

.about-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: auto;
	padding: 50px;
}


.footer{
	align: center;
}

/* START of Mobile Menu */
.nav, .desktop {
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 900;
}

.icon {
    position: fixed;
    cursor: pointer;
    top: 5%;
    right: 0%;
    width: 40px;
    height: 45px;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 1000;
}

.hamburger {
    width: 40px;
    height: 4px;
    line-height: 70px;
    background: #666;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}

.hamburger:before,
.hamburger:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: #666;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    top: 10px;
}

.icon.active .hamburger {
    background: rgba(0,0,0,0);
    box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
}

.icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
}

.menu-mobile {
    background-color: #efefef;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding-top: 150px;
    text-align: center;
}

.menu-mobile, .menu-mobile a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.menu-mobile a {
    clear: right;
    text-decoration: none;
    color: #1D6745;
    height: 70px;
    line-height: 70px;
}
.menu-mobile a:hover {
    color: #1D6745;
}

.desktop, .menu-desktop, .menu-mobile {
        display: none;
    }
/* END OF Mobile Menu */


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* START of desktop menu for 768 media query */
    .menu-desktop {
        width: 100%;
        display: block;
        padding: 0;
        line-height: 50px;
        justify-content: space-evenly;
        flex-direction: row;
        height: 0;
        text-align: right;
        position: absolute;
        top: 0;
        right: 0;
    }

    .menu-desktop a {
        display: inline-flex;
        margin-right: 30px;
        height: 0;
        line-height: 50px;
				font-family: 'Poppins';
				font-size: 24px;
				color: #1D6745;
        text-decoration: none;
        justify-content: space-evenly;
    }

    .desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        display: block;
    }

    header.nav, .menu-mobile {
        display: none;
    }
    /* END of desktop menu for 768 media query */

}
@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1224px) {

}
